:root {
  --rosa: #f8c4d4;
  --lilas: #e0bbff;
  --roxo: #c8a2f4;
  --azul: #cbe8f5;
  --cinza: #8a8a8a;
  --branco: #fafafa;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, var(--rosa), var(--azul));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background: var(--branco);
  padding: 35px;
  width: 850px;
  border-radius: 18px;
  box-shadow: 0 6px 15px #00000020;
}

h1 {
  text-align: center;
  color: var(--roxo);
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px;
}

label {
  font-weight: 600;
  color: var(--roxo);
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--lilas);
  border-radius: 10px;
  margin-top: 5px;
  outline: none;
  resize: none;
  transition: all 0.2s;
  font-size: 15px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--roxo);
  box-shadow: 0 0 6px #c8a2f480;
}

textarea {
  height: 85px;
}

.full {
  grid-column: span 2;
}

button {
  grid-column: span 2;
  padding: 15px;
  background: var(--roxo);
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #a678e6;
  transform: translateY(-2px);
}

footer {
  text-align: center;
  margin-top: 18px;
  color: #666;
  font-size: 14px;
}
